<mat-toolbar style=" background-color: #a12d34;">
    <div class="nav-log">
        <div>
            <img src="assets/logo/BookIcon.png" alt="logo image" width="35px">
        </div>
        <div>
            <span>Bookstore</span>
        </div>
    </div>
</mat-toolbar>
<div class="container">
    <div class="heading">
        <h1>Forgot Your Password?</h1>
    </div>
    <div class="sub-container">
        <div>
            <p class="matter">
                Enter your email address and we'll send you a link to reset your password
            </p>
        </div>
        <div>
            <p class="email-id">Email Id</p>
            <mat-form-field appearance="outline" class="field-data">
                <input class="input-size" matInput placeholder="">
            </mat-form-field>
        </div>
        <div class="login-container-btn">
            <button mat-flat-button class="submit-bttn" (click)="onSubmit()">Reset Password</button>
        </div>
    </div>
    <div class="bottom-container">
        <div>
            <h3>CREATE ACCOUNT</h3>
        </div>
    </div>
</div>
