<mat-toolbar style=" background-color: #a12d34;">
    <div class="nav-log">
        <div>
            <img src="assets/logo/BookIcon.png" alt="logo image" width="35px">
        </div>
        <div>
            <span>Bookstore</span>
        </div>
    </div>
</mat-toolbar>
<div class="container">
    <div class="heading">
        <h1>Reset Your Password</h1>
    </div>
    <div class="sub-container">

        <div>
            <p class="email-id">Password</p>
            <mat-form-field appearance="outline" class="field-data">
                <input class="input-size" matInput placeholder="">
            </mat-form-field>
        </div>

        <div>
            <p class="email-id">Confirm Password</p>
            <mat-form-field appearance="outline" class="field-data">
                <input class="input-size" matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="login-container-btn">
            <button mat-flat-button class="submit-bttn" (click)="onSubmit()">Submit</button>
        </div>
    </div>
    <div class="bottom-container">
        <div>
            <h3>GO TO LOGIN PAGE</h3>
        </div>
    </div>
</div>
